<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ post.title }} </title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1> <a href="{{ url_for('get_all_posts') }}">My Blog</a></h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h1> {{ post.title }}</h1>
            <h2> {{ post.subtitle }}</h2>
            <p> {{ post.body }}</p>
        </div>
    </div>
</div>
</body>
</html>
